.modal.fade#advanced-search{ :tabindex => -1, :role => 'dialog', :'aria-labelledby' => 'Advanced Search', :'aria-hidden' => 'true' }
  .modal-dialog
    .modal-content
      = form_tag '/search', method: :get do
        .modal-header
          %button{ :type => "button", :class => "close", :'data-dismiss' => "modal", :'aria-hidden' => "true" } &times;
          %h4#modal-title= t('search.advanced')
        .modal-body
          .form-group
            = label_tag t('search.commodity_name')
            = text_field_tag 'commodity', params[:query], class: 'form-control'
          .form-group
            = label_tag t('search.date')
            = text_field_tag 'date', params[:date], class: 'form-control datepicker', placeholder: Date.today.strftime('%d-%m-%Y')
          .form-group
            = label_tag t('search.state')
            = select_tag 'state',  options_for_select(State.all.collect{ |s| [ s.name, s.name ] }), class: 'form-control'
          .form-group
            = label_tag t('search.district')
            = select_tag 'district', options_for_select(District.all.collect{ |d| [ d.name, d.name ] }), class: 'form-control'
          .form-group
            = label_tag t('search.market')
            = select_tag 'market', options_for_select(Market.all.collect{ |m| [ m.name, m.name ] }), class: 'form-control'
        .modal-footer
          = link_to t('search.close'), '#', :class => 'btn btn-danger', :'data-dismiss' => "modal"
          = submit_tag t('search.search'), class: 'btn btn-primary'
