.result.col-md-6.col-lg-4
  .panel.panel-info
    .panel-heading
      = "#{result.commodity_name}: #{result.variety_name}"
    .panel-body
      %p= "Max Price: " + result.max_price.to_s
      %p= "Min Price: " + result.min_price.to_s
      %p= "Mode Price: " +  result.mode_price.to_s
      %p= "Location: " + "#{result.market_name}, #{result.district_name}, #{result.state_name}"
