- variety = result.variety
- market = result.market
.result.col-md-6.col-lg-4
  .panel.panel-info
    .panel-heading
      = "#{variety.commodity.name}: #{variety.name}"
    .panel-body
      %p= "Max Price: " + result.max_price.to_s
      %p= "Min Price: " + result.min_price.to_s
      %p= "Mode Price: " +  result.mode_price.to_s
      %p= "Location: " + "#{market.name}, #{market.district.name}, #{market.district.state.name}"
