.page
  = render partial: 'shared/flash'
  = form_tag '/search', class: 'form-inline', method: :get do
    .form-group
      = text_field_tag 'query', params[:query], class: 'form-control', placeholder: 'Commodity Name'
    .form-group
      = text_field_tag 'date', params[:date], class: 'form-control datepicker', placeholder: 'Date'
    .form-group
      = text_field_tag 'location', params[:location], class: 'form-control', placeholder: 'Mandi Name/District/State'
    = button_tag 'Search', class: 'btn btn-info'

  %h3
    Results
  .results
    = render partial: 'search/result', collection: @results

