.page.clearfix
  %div
    = form_tag '/search', class: 'form clearfix', method: :get do
      .form-group.col-lg-3.col-md-2
        = label_tag t('search.commodity_name'), nil, class: 'sr-only'
        = text_field_tag 'commodity', params[:commodity], class: 'form-control', placeholder: t('search.commodity_name')
      .form-group.col-lg-3.col-md-3
        = button_tag t('search.search_button'), class: 'btn btn-info'

    = render partial: 'advanced_search'
  .clearfix
  %h3
    Results
  .results
    = render partial: 'search/result', collection: @results
