!!!
%html
  %head
    %title Meri Mandi
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = render partial: 'shared/header'
    .container-fluid
      .col-md-8.col-md-offset-2
        = yield
      .col-md-2
